<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </nav>

    <h1>Register</h1>

    <form action="/auth/register" method="POST">
        <div class="mb-3">
            <label for="name-reg" class="form-label">Name</label>
            <input type="text" class="form-control" id="name-reg" name="name">                        
        </div>
        <div class="mb-3">
            <label for="email-reg" class="form-label">Email</label>
            <input type="text" class="form-control" id="email-reg" name="email">                        
        </div>
        <div class="mb-3">
            <label for="password-reg" class="form-label">Password</label>
            <input type="password" class="form-control" id="password-reg" name="password">
        </div>
        <div class="mb-3">
            <label for="password-conf-reg" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="password-conf-reg" name="password_confirm">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
</body>
</html>